

	<h5>Des questions ? Appelez le 0205-543-063</h5>

	<div class="footer-yos">
		<div class="list-footer">
			<ul>
				<li>FAQ</li>
				<li>Relations Investisseurs</li>
				<li>Modes de lecture</li>
				<li>Mentions légales</li>
			</ul>
		</div>

		<div class="list-footer">
			<ul>
				<li>Centre d'aide</li>
				<li>Recrutement</li>
				<li>Conditions d'utilisation</li>
				<li>Nous contacter</li>
			</ul>
		</div>
		<div class="list-footer">
			<ul>
				<li>Compte</li>
				<li>Utiliser des cartes cadeaux</li>
				<li>Confidentialité</li>
				<li>Test de vitesse</li>
			</ul>
		</div>
	</div>


