

<header class="header-nav">
	<nav class="nav-item">
		<p>Logo</p>

		<ul class="list-items">
			<li><a href="">Acceuil</a></li>
			<li><a href="">Inscription</a></li>
			<li><a href="" id="connect">S'identifier</a></li>
		</ul>
	</nav>

</header>







