<header class="header-nav">
	<div id="burger">
		<img src="{{ asset('img/burger.svg') }}" alt="">
	</div>
	<nav class="nav-item">


		<div>
			<img src="{{ asset('img/logo.png') }}" alt="">
		</div>
		<div>
			<ul class="list-items">
				<li>
					<a href="{{ path("home") }}">Accueil</a>
				</li>
				<li>
					<a href="{{ path("app_register") }}">Inscription</a>
				</li>
				<li>
					<a href="" id="connect">S'identifier</a>
				</li>
			</ul>
		</div>
	</nav>






