{% extends 'base.html.twig' %}


{% block body %}
	<section class="slider">

		<div class="title-slide">
			<h1>Faites le plein d'émotions
				
				sur
				<span>YosStream</span>
			</h1>
		</div>


	</section>
{% endblock %}
