* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

.header-nav {
  width: 100%;
  padding: 12px 0px;
  background-color: black;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1450px;
  justify-content: center;
  padding: 14px 0;
}

.list-items {
  list-style: none;
  display: flex;
}

.list-items li {
  margin-left: 10px;
}

.list-items li a {
  text-decoration: none;
  color: #fff;
  font-size: 27px;
}

#connect {
  background-color: rgb(155, 22, 22);
  border-radius: 5px;
  padding: 10px 15px;
}

.logo-home img {
  width: 10%;
}

.slider {
  background-image: url("../img/movie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider span {
  font-family: 'Josefin Sans', sans-serif;
}

.title-slide {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title-slide h1 {
  font-size: 50px;
  width: 1087px;
  text-align: center;
}

.title-slide span {
  color: rgb(167, 13, 13);
  font-size: 80px;
}

.title-table {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(36, 19, 20, 1) 85%);

}

.tableau-genre {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 76px;
}

.tableau-movies {
  margin: 0 auto;
  max-width: 1452px;
  display: flex;
  align-items: end;
  margin-top: 100px;
}

.title-table th {
  padding: 27px 7px;
  font-size: 25px;

}

tbody:nth-child(odd) {
  background-color: #000000;


}

td:nth-child(odd) {
  padding: 0 35px 0 35px;
}

td:nth-child(even) {
  padding: 0 35px 0 35px;
}

tbody:nth-child(even) {
  background-color: #7a6f7a;

}

.espace:nth-child(even) {
  background-color: #7a6f7a;

}

.espace:nth-child(odd) {
  background-color: #000000;


}

tbody {
  height: 49px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

table {

  border-collapse: collapse;
  box-shadow: 4px 7px 21px 3px #000000;

}

.espace tr {
  height: 76px;
}

.btn-update a {
  text-decoration: none;
  color: #fff;
  background: #03ad20;
  padding: 8px;
  border-radius: 9px;


}

.btn-delete a {
  text-decoration: none;
  color: #fff;
  background: #f04c00;
  padding: 8px;
  border-radius: 9px;

}

.btn-ajout-movies, .btn-ajout-genre, .btn-ajout-serie {
  color: #fff;
  text-decoration: none;
  background: #0c2394;
  padding: 8px;
  border-radius: 9px;

}

.tableau-serie {
  margin: 0 auto;
  justify-content: center;
  display: flex;
  margin-top: 50px;
}

.tableau-serie table {
  width: 90%;
}

/* /////////////tableau-user//////////////// */

.tableau-user {
  border-collapse: collapse;
  box-shadow: 4px 7px 21px 3px #000000;

}

.tbody-user {
  height: 49px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.tbody-user:nth-child(odd) {
  background-color: #000000;


}

.tbody-user:nth-child(even) {
  background-color: #7a6f7a;

}

.title-user {
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(255, 0, 0, 1) 0%, rgba(36, 19, 20, 1) 85%);

}




/* ///////////////////ROLE ADMIN//////////////////////////// */

.list-items-roleAdmin {
  display: flex;
}

.list-items-roleAdmin li {

  list-style: none;
  list-style: none;
  width: 175px;

}

.list-items-roleAdmin a {
  text-decoration: none;
  color: #fff;
}

.list-items-roleAdmin a:hover {

  border-bottom: 2px solid rgb(172, 9, 9);

}

.logo-home {
  width: 100vh;

}

.btn-deconnect {
  background: red;
  padding: 15px 12px;
  text-align: center;
  border-radius: 10px;
}

/* ////////////REGISTER//////////////////////// */
.form-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;

}

.form-column button {
  color: #fff;
  background: #FF4901;
  padding: 9px;
  width: 42%;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 27px;
  cursor: pointer;

}

.title-register {
  text-align: center;

}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-register {
  background: #000;
  max-width: 90%;
  margin: 0 auto;
  padding: 45px 21px;
  color: white;
  border-radius: 30px;
  transform: translate(0%, 20%);
  display: flex;
}

#registration_form_name, #registration_form_username, #registration_form_email, #registration_form_plainPassword {
  border-radius: 10px;
  padding: 5px;
  border: none;

}

.form-right {
  width: 100%;
}

.formGlobal {
  background: #FF4901;
  background: -webkit-linear-gradient(top, #FF4901, #010101);
  background: -moz-linear-gradient(top, #FF4901, #010101);
  background: linear-gradient(to bottom, #FF4901, #010101);
  height: 100vh;
}

.register-svg img {
  width: 90%;
}

/* /////////////////////////Connexion////////////////////////////////// */

.connexion {
  background: #FF4901;
  background: -webkit-linear-gradient(top, #FF4901, #010101);
  background: -moz-linear-gradient(top, #FF4901, #010101);
  background: linear-gradient(to bottom, #FF4901, #010101);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-connect {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  /* max-width: 40%; */
  padding: 30px 19px;
  border-radius: 17px;
}

.connect-user {
  padding: 5px 38px;
  display: grid;
}

.connect-user input {
  padding: 6px 9px;
  border-radius: 4px;
  border: none;
}


.btn-login {
  color: #fff;
  background: rgb(155, 3, 3);
  border: none;
  padding: 9px 15px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;

}

.title-connect {
  font-size: 20px;
  text-align: center;
}

.login-svg {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

}

.login-svg img {
  width: 70%;
}


/* //////////////error404//////////////////////// */

.error404 {
  display: flex;
  justify-content: center;
}

/* ////////////////////Ajout film///////////////////////////// */
.formMovie {
  background: #000000;
  width: 54%;
  margin: auto;
  padding: 15px 22px;
  border-radius: 9px;
}

.movie-flex {
  display: flex;
  flex-direction: column;
}

#movies_genre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#movies_titre {
  height: 37px;
  border-radius: 5px;
}

#movies_description {
  height: 37px;
  border-radius: 5px;
}

.btn-ajout {
  color: #fff;
  background: #c60505;
  border: none;
  width: 68%;
  border-radius: 5px;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.movie-btn {
  display: flex;
  justify-content: center;
}

.next-movies {
  background: #b41d03f8;
  font-weight: 700;
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  border: 4px solid #ff037b;
}

.next-movies a {
  text-decoration: none;
  color: #fff;
}

.next {
  width: 25px;
  position: relative;
  left: 42px;
  top: -3px;
}


.flex-movies {
  width: 100%;
  position: relative;
  top: 35px;
}

/* //////////////////Admin Information/////////////////// */
.easy-admin {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.admin-information {
  width: 58%;
  height: auto;
  background: #202020;
  color: #fff;
  border-radius: 14px;
  box-shadow: 2px 0px 19px 1px #000000;

}

.title-admin-information {
  width: 100%;
  background-image: linear-gradient(to left, #601010, #861114, #ad0f17, #d50919, #ff0019);
  padding: 10px 5px;
  text-align: center;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 14px;
}

.title-admin-information img {
  width: 10%;
}

.admin-svg {
  width: 50px;

}

.list-role {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  list-style: none;
  width: 80%;


}

.list-role li {
  margin-bottom: 10px;
}

.data-admin {
  background: #06d30d;
  padding: 3px;
  border-radius: 5px;
}

.card-admin {
  padding: 16px 8px;

}


/* /////////////////////////////////////////////////////////////////// */

@media only screen and (max-width : 768px) {

  .nav-item {
    padding: 15px;
  }

}

@media only screen and (max-width : 1440px) {

  .nav-item {
    width: 90%;
  }

}

@media only screen and (max-width : 1024px) {
  .nav-item {
    width: 93%;
  }

}

/* ///////////mobile//////////////// */
@media only screen and (max-width : 427px) {

  .nav-item {
    flex-direction: column;
    text-align: center;

  }

  .list-items {
    flex-direction: column;
  }

  .list-items li {
    padding: 10px;
  }

  .title-slide span {
    font-size: 200%;
  }

  .title-slide h1 {
    font-size: 150%;
    padding: 25px;
  }




}

#croix img {
  width: 15%;
  position: relative;
  top: 13px;
  right: 13px;
}

#burger img {
  width: 20%;
}

@media only screen and (min-width : 426px) {

  /* .nav-item{
    display: block;
  }
  #burger img{
    display: none;

  }
  #croix img{
    display: none;

  } */

}

@media only screen and (max-width : 428px) {

  .nav-item {
    flex-direction: column;
    text-align: center;

  }


  #burger {
    position: relative;
    left: -15px;
    top: 0px;
    text-align: end;
  }

  #croix {
    position: relative;
    top: 3px;
    right: 15px;
    text-align: end;
  }



  .list-items {
    flex-direction: column;
  }

  .list-items li {
    padding: 10px;
  }

  .title-slide span {
    font-size: 200%;
  }

  .title-slide h1 {
    font-size: 150%;
    padding: 25px;
  }

  .nav-item {
    display: none;
  }

  #croix {
    display: none;
  }




}

/* ////////403+404///////// */

.section-interdit {
  display: flex;
  justify-content: center;

}

.btn-403, .btn-404 {
  text-decoration: none;
  color: #fff;
  background: #f11111;
  padding: 10px 21px;
  border-radius: 11px;
}

@media only screen and (max-width : 320px) {
  #croix {
    display: flex;
    justify-content: end;
    position: relative;
    top: 9px;
    right: 15px;
  }

  #croix {
    display: none;
  }

  #burger {
    display: flex;
    justify-content: end;
    position: relative;
    left: -15px;
    top: 12px;
  }

  .header-nav {
    width: 206vw;
  }

  .connexion {
    width: 206vw;
  }

}

@media only screen and (min-width : 429px) {

  .burgerMobile img {
    display: none;
  }

  .croixMobile img {
    display: none;
  }




}