* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;



}

.header-nav {
  width: 100%;
  background-color: black;
}

.nav-item {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 1450px;

}

.list-items {
  list-style: none;
  display: flex;
}

.list-items li {
  margin-left: 10px;
}

li a {
  text-decoration: none;
  color: #fff;
  font-size: 27px;
}

#connect {
  background-color: rgb(155, 22, 22);
  border-radius: 5px;
  padding: 10px 15px;
}

.logo-home img {
  width: 10%;
}

.slider {
  background-image: url("../img/movie.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.slider span {
  font-family: 'Josefin Sans', sans-serif;
}

.title-slide {
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.title-slide h1 {
  font-size: 50px;
  width: 1087px;
  text-align: center;
}

.title-slide span {
  color: rgb(167, 13, 13);
  font-size: 80px;
}


/* ////////////REGISTER//////////////////////// */
.form-column {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;

}

.form-column button {
  color: #fff;
  background: #FF4901;
  padding: 9px;
  width: 42%;
  outline: none;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 27px;
  cursor: pointer;

}

.title-register {
  text-align: center;

}

.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.form-register {
  background: #000;
  max-width: 90%;
  margin: 0 auto;
  padding: 45px 21px;
  color: white;
  border-radius: 30px;
  transform: translate(0%, 20%);
  display: flex;
}

#registration_form_name, #registration_form_username, #registration_form_email, #registration_form_plainPassword {
  border-radius: 10px;
  padding: 5px;
  border: none;

}

.form-right {
  width: 100%;
}

.formGlobal {
  background: #FF4901;
  background: -webkit-linear-gradient(top, #FF4901, #010101);
  background: -moz-linear-gradient(top, #FF4901, #010101);
  background: linear-gradient(to bottom, #FF4901, #010101);
  height: 100vh;
}

.register-svg img {
  width: 90%;
}

/* /////////////////////////Connexion////////////////////////////////// */

.connexion {
  background: #FF4901;
  background: -webkit-linear-gradient(top, #FF4901, #010101);
  background: -moz-linear-gradient(top, #FF4901, #010101);
  background: linear-gradient(to bottom, #FF4901, #010101);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-connect {
  background-color: #000000;
  color: #fff;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  padding: 30px 19px;
  border-radius: 17px;
}

.connect-user {
  padding: 5px 38px;
  display: grid;
}

.connect-user input {
  padding: 6px 9px;
  border-radius: 4px;
  border: none;
}


.btn-login {
  color: #fff;
  background: rgb(155, 3, 3);
  border: none;
  padding: 9px 15px;
  font-size: 18px;
  border-radius: 7px;
  cursor: pointer;

}

.title-connect {
  font-size: 20px;
  text-align: center;
}

.login-svg {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;

}
.login-svg img{
  width: 70%;
}


/* /////////////////////////////////////////////////////////////////// */

@media only screen and (max-width : 768px) {

  .nav-item {
    padding: 15px;
  }

}

@media only screen and (max-width : 1440px) {

  .nav-item {
    width: 90%;
  }

}

@media only screen and (max-width : 1024px) {
  .nav-item {
    width: 93%;
  }

}

/* ///////////mobile//////////////// */
@media only screen and (max-width : 427px) {

  .nav-item {
    flex-direction: column;
    text-align: center;

  }

  .list-items {
    flex-direction: column;
  }

  .list-items li {
    padding: 10px;
  }

  .title-slide span {
    font-size: 200%;
  }

  .title-slide h1 {
    font-size: 150%;
    padding: 25px;
  }




}

@media only screen and (min-width : 426px) {

  /* .nav-item{
    display: block;
  }
  #burger img{
    display: none;

  }
  #croix img{
    display: none;

  } */

}

@media only screen and (max-width : 428px) {

  .nav-item {
    flex-direction: column;
    text-align: center;

  }


  #burger {
    position: relative;
    left: -15px;
    top: 0px;
    text-align: end;
  }

  #croix {
    position: relative;
    top: 3px;
    right: 15px;
    text-align: end;
  }



  .list-items {
    flex-direction: column;
  }

  .list-items li {
    padding: 10px;
  }

  .title-slide span {
    font-size: 200%;
  }

  .title-slide h1 {
    font-size: 150%;
    padding: 25px;
  }

  .nav-item {
    display: none;
  }

  #croix {
    display: none;
  }




}

@media only screen and (max-width : 320px) {
  #croix {
    display: flex;
    justify-content: end;
    position: relative;
    top: 9px;
    right: 15px;
  }

  #croix {
    display: none;
  }

  #burger {
    display: flex;
    justify-content: end;
    position: relative;
    left: -15px;
    top: 12px;
  }

}

@media only screen and (min-width : 429px) {

  .burgerMobile img {
    display: none;
  }

  .croixMobile img {
    display: none;
  }




}