{% extends 'base.html.twig' %}

{% block title %} Les Films YOSSTREAM {% endblock %}

{% block body %}
    <h1> Films </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movies in movies %}
            <tr>
                <td>{{ series.id }}</td>
                <td>
                    <a href="{{ path('movies_modifier', {'id': movies.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">Aucun fichier trouver</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('movies_ajouter') }}">Modifier </a>
{% endblock %}
