<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %} YOSSTREAM | Bienvenue {% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		
	</head>
	<body>
		{% include "header.html.twig" %}

            
        {% block body %}{% endblock %}
    </body>

</html>
