<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		
	</head>
	<body>
		{% include "header.html.twig" %}



		{% block body %}{% endblock %}
	</body>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>

            <h1>Accueil</h1>
            <h2>Inscription</h2>
            <h3>S'identifier</h3> 
            
        {% block body %}{% endblock %}
    </body>

</html>
