<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">

		<title>
			{% block title %} YOSSTREAM | Bienvenue {% endblock %}
		</title>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		
		<div>
		{% include "home/header.html.twig" %}
		</div>
	</head>
	
	<body>
	
	
		
		{% block body %}
		{% endblock %}
		
		
		<script src= "{{ asset('js/script.js')}}"></script> 
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}

	</body>
	


</html>
