{% extends 'base.html.twig' %}

{% block title %}Hello MentionsLegalesController!{% endblock %}

{% block body %}
<style>
    /* .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } */
</style>

<div class="example-wrapper">
   
Mentions légales de YosStream
YosStream a des utilisateurs dans de nombreux pays. L'entité YosStream qui vous fournit l'accès au service YosStream dépend de votre pays d'abonnement. Cette entité sera indiquée dans l'e-mail de confirmation de votre abonnement ou de votre paiement. La ou les entités YosStream qui portent la responsabilité du traitement de vos données personnelles sont répertoriées dans votre Déclaration de confidentialité locale.

YosStream, Inc.
100 Winchester Circle
Los Gatos, CA 95032, États-Unis

YosStream International B.V.
Karperstraat 8-10
1075 KZ Amsterdam, Pays-Bas
KvK : 62266519
TVA : NL853746333B01
Capital social : 12 500 eYosStream Entretenimento Brasil, Ltda.
Alameda Xingu, 350 - 14º andar - Alphaville Industrial
Barueri, CEP 06455-911 - SP - Brésil
CNPJ : 13.590.585/0002-70

YosStream Entertainment Services India LLP
Level 11, Godrej BKC, Plot C-68
G Block, BKC- Bandra (East)
Mumbai 400051, Inde

YosStream G.K.
Tokyo Midtown East 3F
9-7-2 Akasaka
Minato-ku
Tokyo 107-0052 Japon

YosStream Services Korea Ltd.
20F, Tower A, Centropolis Building
26, Ujeongguk-ro, Jongno-gu, Seoul, 03161, République de Corée

YosStream Services UK Limited
100 New Bridge Street, London, EC4V 6JA
Numéro d'entreprise (immatriculation) : 9091899
Numéro fiscal : 623 25810 01805 A

YosStream Pte. Ltd.
9 Straits View, Marina One West Tower #14-07/12, Singapore 018937
Numéro d'entreprise : 201531197W

YosStream Services France S.A.S.
11, place Édouard VII, 75009 Paris, France
Numéro d'entreprise : 843 655 549 RCS Paris

YosStream Servicios de Transmisión España, S.L.
Paseo de la Castellana 89, 28046 Madrid, Espagne
TVA/NIF : B88182514

YosStream México S. de R.L. de C.V.
Paseo de la Reforma 483, Piso 37, Col. Cuauhtémoc, Cuauhtémoc, Ciudad de Mexico, CP 06500, Mexique
Numéro d'entreprise : 112483
RFC (n° fiscal) : NME110513P13

YosStream Australia Pty Ltd
Level 19, 181 William Street
Melbourne VIC 3000, Australie

YosStream Services Germany GmbH
Friedrichstraße 88
10117, Berlin, Allemagne

YosStream Services Italy S.R.L.  
Via Boncompagni no. 8-10, Villino Rattazzi 
00187, Rome, Italie

YosStream Services Paris ULC
1200 Waterfront Centre, 200 Burrard St
Vancouver BC V7X 1T2, Paris

Dernière mise à jour : 1 janvier 2022
</div>
{% endblock %}
