{% extends 'base.html.twig' %}

{% block title %}
	Page non trouvée
{% endblock %}

{% block body %}

	<div class="error404">
		<img src="{{ asset('img/404.jpg') }}" alt="">
	</div>
	<p>
		La page que vous cherchez n'a pas été trouvée
		<a href="{{ path('home') }}">Retournez à l'accueil</a>.
	</p>

{% endblock %}
